* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(237, 238, 238);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind", sans-serif;
}
p {
  line-height: 1.2rem;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

/* Frame */

.recommends {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 400px;
  top: 0;
  left: 0;
}
.reviews {
  height: 100vh;
  margin-top: 40px;
  display: flex;
  width: 80%;
  margin: 10% auto;
  flex-wrap: wrap;
}

/* Display */
.displayRank {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 150px;
}
.rankText {
  width: 160px;
  display: flex;
  padding: 0 0.5rem 0.3rem 0.5rem;
  flex-direction: column;
  justify-content: space-between;
}
.rankCoverBox {
  width: 100px;
  height: 100%;
}
.rankTextBox {
  width: 100%;
  height: 40px;
  text-align: right;
  color: #5d4037;
}

.controlIcons {
  height: 24px;
  display: flex;
  margin: 0 0 0 auto;
  width: 40%;
  justify-content: space-between;
}

.rankNames {
  width: 20%;
  padding: 1rem;
}
.names {
  padding: 0.5rem 1rem;
  text-align: center;
}

.displayRecBook {
  width: 170px;
  height: 300px;
  border: 2px solid rgb(59, 82, 63);
  margin-bottom: 20px;
}
.recCoverBox {
  width: 166px;
  height: 220px;
  overflow: hidden;
}
.recTextBox {
  padding: 1rem;
}

.displayReview {
  margin: 20px auto;
  width: 60%;
  height: 340px;
}
.reviewTitle {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 60px;
  right: 40px;
  align-items: center;
}

.reviewContent {
  border: 2px solid rgb(59, 82, 63);
  padding: 2rem;
}
.reviewCoverBox {
  width: 100px;
  height: 160px;
  overflow: hidden;
}

td {
  border-bottom: 1px solid #ddd;
}
th {
  border-bottom: 1px solid rgb(177, 177, 177);
}
.searchResultItem:hover {
  background-color: #e8eaf6;
}
